* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.navbar {
  background-color: #fefefe;
}


.hero-image {
  background-color: #b1e0fc;
}

.products {
  background-color: #b1e0fc;
  display: grid;
}

.products>div {
  /* border: 1px solid black; */
}

.product-item-1 {
  background-color: #d7c8eb;
}

.product-item-2 {
  background-color: #ffecaf;
}

.product-item-3 {
  background-color: #f3f3f5;
}

.product-item-4 {
  background-color: #ffd3cf;
}


.product-pages {
  background-color: #fefefe;
}

.product-trends {
  background-color: #f3f3f5;
}

.cart-info {
  background-color: #fefefe;
}

/* Phones and smaller devices */
@media (max-width: 600px) {
  .container {
    grid-template-rows: 1fr 3fr 4fr 1fr;
  }
}

/* Tablets and larger phones */
@media (min-width: 600px) and (max-width: 768px) {
  .container {
    grid-template-rows: 1fr 3fr 3fr 1fr;
  }

  .products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr;
  }
}

/* Medium sized and larger devices */
@media (min-width: 768px) {
  .container {
    grid-template-columns: 5% 45% 45% 5%;
    /* 1fr 7fr 7fr 1fr */
  }

  .products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr;
  }
}